<!-- <mat-card class="login-section">
    <div class="container">
        <mat-card class="login-panel" >
            <form class="login-form">
                <mat-form-field class="user-field" color="primary">
                  <span matPrefix><mat-icon matPrefix>person</mat-icon> &nbsp;</span>
                  <input type="email" matInput placeholder="Email">
                </mat-form-field>
                
                <mat-form-field class="user-field password" color="primary">
                    <span matPrefix><mat-icon matPrefix>vpn_key</mat-icon> &nbsp;</span>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-flat-button color="primary">Login</button>

            </form>
        </mat-card>
    </div>
</mat-card> -->

<div class="login-container">
    <div class="login-title-logo">
        <mat-icon class="icon">account_circle</mat-icon>
    </div>
    <div class="login-content">
      <mat-card class="login-card">
        <form [formGroup]="loginForm">
          <mat-form-field class="user-field" color="primary">
            <span matPrefix><mat-icon matPrefix>person</mat-icon> &nbsp;</span>
            <input autofocus type="text" matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>

          <mat-form-field class="user-field" color="primary">
            <span matPrefix><mat-icon matPrefix>vpn_key</mat-icon> &nbsp;</span>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password" required>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="OnLogin()">Login</button>
        </form>
      </mat-card>
    </div>
  </div>